
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    
    
  }
  
  body {
    width: 1920px;
    height: 1112px;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    
  }

  .aGlobalScale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:#0A2540; /* Pink background color */
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 0 100%, 0 14%);
    z-index: 1; /* Ensure it stays behind other content */
  }
  

  .aGlobal-Scale-Main-Info {
    width: Fill (1, 080px) px;
    height: Fill (911px) px;
    position: relative;
    z-index: 2;
    margin-left:230px;
    margin-right:420px;
    margin-top: 230px;
    

  }

  .a-global-scale-main-heading {
    margin-top: 20px;
    width: Fill (674px)px;
    height: Fixed (96px)px;
    margin-bottom: 20px;
    margin-right: 400px;
    color: white;
    font-size: 22px;
  }
  
  
  .a-main-info-two-sections {
    width: Fill (1, 080px) px;
    height: 496px;
    gap: 96px;
    
  }
  
  .a-main-info-first-section {
    width: Fill (1, 080px) px;
    height: 312px;
  }
  
  .a-heading-one {
    width: Fill (810px) px;
    height: Fixed (148px) px;
    padding: 0px 120px 0px 16px;
    gap: 24px;
  }
  
  .a-main-pharagraph {
    width: Fill (810px) px;
    height: Fixed (140px) px;
    padding: 0px 112px 0px 16px;
    color: #ADBDCC;
    margin-right: 350px;
    line-height: 1.5;
  }
  
  .a-main-info-second-section {
    width: Fill (1, 080px) px;
    height: 88px;
    display: flex;
    justify-content: center;
    z-index: 3;
    margin-left:255px;
    margin-top:55px;
    
  }
  
  .a-2s-section {
    width: Fixed (270px) px;
    height: 88px;
    gap: 8px;
  }
  
  .a-2s-section-header {
    width: Fill (270px) px;
    height: Fixed (32px) px;
    padding: 0px 32px 0px 16px;
  }
  
  .a-2s-1s-paragraph {
    width: Fill (270px) px;
    height: Fixed (48px) px;
    padding: 0px 32px 0px 16px;
  }
  
  .a-2s-section-vertical {
    width: 1px;
    height: 24px;
    background: #00d4ff;
  }
  
  .a-2s-section-header-paragraph {
    width: Fill (222px) px;
    height: Fixed (32px) px;
    margin-top: -27.5px;
    margin-left: 17px;
    color: white;
  }
  
a{
  text-decoration: none;
  color: #00d4ff;
}

  .a-2s-section-p {
    width: 84px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    text-underline-position: from-font;
  }
  
  .a-2s-section-main-paragraph {
    width: Fill (270px) px;
    height: Fixed (48px) px;
    padding: 0px 32px 0px 16px;
    margin-left: 19px;
    color: #ADBDCC;
    margin-top: 7px;
  }
  
  .a-2s-main-p {
    width: 222px;
    height: 48px;
    font-family: Inter;
    font-size: 13.5px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
  }
  
  .a-global-scale {
    color: #00D4FF;
  }



